In [143]:
#fas-정재환
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import numpy as np
import csv
import json
import seaborn as sns
%matplotlib inline

In [144]:
# 새로 생성할 파일 이름 리스트
f_list = ['건강검진1', 
          '건강검진2', 
          '건강검진3']

In [145]:
# 원본 데이터의 1~50000번째 행의 5만개 데이터를 건강검진1파일에 저장
# 원본 데이터의 50000~100000번째 행의 5만개 데이터를 건강검진2파일에 저장
# 원본 데이터의 100000~150000번째 행의 5만개 데이터를 건강검진3파일에 저장
#skiprows를 이용해 지정된 행은 생략한 후에 시작 오픈셋을 만든다.
#nrows를 이용해 위에서부터 지정한 숫자 만큼의 행만 읽어온다
for i in range(len(f_list)):
    df_columns  = pd.read_csv('NHIS_OPEN_GJ_2017_2.csv', encoding='cp949', nrows=0)
    df_values = pd.read_csv('NHIS_OPEN_GJ_2017_2.csv', encoding='cp949', skiprows=(i*50000), nrows=50000, 
                           names = df_columns.columns, header = 0)
    df_values.reset_index(drop=True, inplace=True)
    df_values.to_csv(f_list[i] + '.csv', mode='w', encoding='cp949')
    del df_columns # 메로리 반환, 누수 방지
    del df_values

In [146]:
# 3개의 생성된 csv 파일 확인

In [154]:
#건강검진1.csv 확인
df1 = pd.read_csv(f_list[0] + '.csv', encoding='cp949', index_col=0)
df1

          번호  성별  연령   신장  체중  허리둘레  수축기혈압  이완기혈압   식전혈당  총콜레스테롤  흡연상태  음주여부
0          1   1   8  170  75  90.0  120.0   80.0   99.0   193.0   1.0   1.0
1          2   1   7  180  80  89.0  130.0   82.0  106.0   228.0   3.0   0.0
2          3   1   9  165  75  91.0  120.0   70.0   98.0   136.0   1.0   0.0
3          4   1  11  175  80  91.0  145.0   87.0   95.0   201.0   1.0   0.0
4          5   1  11  165  60  80.0  138.0   82.0  101.0   199.0   1.0   0.0
...      ...  ..  ..  ...  ..   ...    ...    ...    ...     ...   ...   ...
49995  49996   1  10  175  85  95.0  143.0  103.0  105.0   201.0   3.0   1.0
49996  49997   1  13  170  70  79.0  105.0   58.0   94.0   295.0   2.0   0.0
49997  49998   1  12  165  50  74.0  130.0   80.0  106.0   216.0   3.0   0.0
49998  49999   2  10  155  50  75.0  135.0   85.0   91.0   231.0   1.0   1.0
49999  50000   2   8  165  55  76.0  140.0   90.0   79.0   141.0   1.0   1.0

[50000 rows x 12 columns]

In [155]:
#건강검진2.csv 확인
df2 = pd.read_csv(f_list[1] + '.csv', encoding='cp949', index_col=0)
df2

           번호  성별  연령   신장  체중  허리둘레  수축기혈압  이완기혈압   식전혈당  총콜레스테롤  흡연상태  음주여부
0       50001   2  13  150  60  88.2  110.0   70.0   93.0   216.0   1.0   0.0
1       50002   2  13  160  80  99.0  125.0   73.0  123.0   152.0   1.0   0.0
2       50003   1  13  165  65  97.0  139.0   94.0   74.0   178.0   2.0   1.0
3       50004   2  11  165  65  80.0  120.0   70.0   92.0   229.0   1.0   0.0
4       50005   2  13  145  40  66.0  110.0   50.0   93.0   245.0   1.0   0.0
...       ...  ..  ..  ...  ..   ...    ...    ...    ...     ...   ...   ...
49995   99996   2   8  170  70  90.0  110.0   70.0   82.0   187.0   1.0   0.0
49996   99997   1  10  175  70  86.0  112.0   77.0  100.0   251.0   3.0   1.0
49997   99998   2   5  160  60  80.0  110.0   70.0  114.0   205.0   2.0   1.0
49998   99999   1  11  175  65  83.0  148.0   87.0  112.0   236.0   2.0   0.0
49999  100000   2   8  170  70  83.0   99.0   57.0   84.0   172.0   1.0   0.0

[50000 rows x 12 columns]

In [156]:
#건강검진3.csv 확인
df3 = pd.read_csv(f_list[2] + '.csv', encoding='cp949', index_col=0)
df3

           번호  성별  연령   신장  체중   허리둘레  수축기혈압  이완기혈압   식전혈당  총콜레스테롤  흡연상태  음주여부
0      100001   1  13  165  80  100.0    130     80  103.0   198.0   2.0   1.0
1      100002   2  12  150  50   76.0    119     69  141.0   172.0   1.0   0.0
2      100003   1  10  165  70   83.4    100     66   78.0   231.0   3.0   1.0
3      100004   2   8  160  55   73.0     99     66   89.0   168.0   1.0   1.0
4      100005   1   9  180  70   81.0    135     87   82.0   182.0   3.0   0.0
...       ...  ..  ..  ...  ..    ...    ...    ...    ...     ...   ...   ...
49995  149996   2  10  155  60   86.0    123     77   92.0   228.0   1.0   1.0
49996  149997   1  12  170  75   89.0    124     89  104.0   243.0   3.0   1.0
49997  149998   2   8  155  70   81.0    118     76   82.0   183.0   1.0   0.0
49998  149999   1  15  170  70   90.2    126     80  117.0    99.0   2.0   0.0
49999  150000   1  10  175  80   93.5    162    100   98.0   203.0   3.0   1.0

[50000 rows x 12 columns]

In [157]:
# concat을 이용해 건강검진1, 2, 3의 3개 파일 병합
df = pd.concat([df1, df2], axis=0)
df = pd.concat([df, df3], axis=0)
del df1 # 메로리 반환, 누수 방지
del df2
del df3
df

           번호  성별  연령   신장  체중  허리둘레  수축기혈압  이완기혈압   식전혈당  총콜레스테롤  흡연상태  음주여부
0           1   1   8  170  75  90.0  120.0   80.0   99.0   193.0   1.0   1.0
1           2   1   7  180  80  89.0  130.0   82.0  106.0   228.0   3.0   0.0
2           3   1   9  165  75  91.0  120.0   70.0   98.0   136.0   1.0   0.0
3           4   1  11  175  80  91.0  145.0   87.0   95.0   201.0   1.0   0.0
4           5   1  11  165  60  80.0  138.0   82.0  101.0   199.0   1.0   0.0
...       ...  ..  ..  ...  ..   ...    ...    ...    ...     ...   ...   ...
49995  149996   2  10  155  60  86.0  123.0   77.0   92.0   228.0   1.0   1.0
49996  149997   1  12  170  75  89.0  124.0   89.0  104.0   243.0   3.0   1.0
49997  149998   2   8  155  70  81.0  118.0   76.0   82.0   183.0   1.0   0.0
49998  149999   1  15  170  70  90.2  126.0   80.0  117.0    99.0   2.0   0.0
49999  150000   1  10  175  80  93.5  162.0  100.0   98.0   203.0   3.0   1.0

[150000 rows x 12 columns]

In [158]:
del df # 메로리 반환, 누수 방지

In [174]:
# 이번에는 다른 방법으로 3개의 파일을 하나의 파일에 이어쓰기로 저장, 병합하고
# 병합된 csv 파일을 읽어서 데이터프레임으로 변환한다

In [175]:
# 먼저 컬럼명만 가져와서 테이블의 구조만 생성한다
df_columns  = pd.read_csv('건강검진1.csv', encoding='cp949', nrows=0, index_col=0)
df_columns.to_csv('merge_건강검진.csv', mode='w', encoding='cp949')
del df_columns
# 반복문을 통해 모든 파일을 읽어서 csv파일에 이어쓰기(모드: a)한다.
#메모리 누적 오류를 방지하기 위해 한번 읽을때 마다 del을 이용해 메모리를 반환한다.
for i in range(len(f_list)):
    df = pd.read_csv(f_list[i] + '.csv', encoding='cp949')
    df.to_csv('merge_건강검진.csv', mode='a', header=False, index=True)
    del df

In [176]:
df = pd.read_csv('merge_건강검진.csv', encoding='cp949', index_col=0)
df.reset_index(drop=True, inplace=True)
df

,Unnamed: 0,번호,성별,연령,신장,체중,허리둘레,수축기혈압,이완기혈압,식전혈당,총콜레스테롤,흡연상태,음주여부
0,0,1,1,8,170,75,90.0,120.0,80.0,99.0,193.0,1.0,1.0
1,1,2,1,7,180,80,89.0,130.0,82.0,106.0,228.0,3.0,0.0
2,2,3,1,9,165,75,91.0,120.0,70.0,98.0,136.0,1.0,0.0
3,3,4,1,11,175,80,91.0,145.0,87.0,95.0,201.0,1.0,0.0
4,4,5,1,11,165,60,80.0,138.0,82.0,101.0,199.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,49995,149996,2,10,155,60,86.0,123.0,77.0,92.0,228.0,1.0,1.0
149996,49996,149997,1,12,170,75,89.0,124.0,89.0,104.0,243.0,3.0,1.0
149997,49997,149998,2,8,155,70,81.0,118.0,76.0,82.0,183.0,1.0,0.0
149998,49998,149999,1,15,170,70,90.2,126.0,80.0,117.0,99.0,2.0,0.0
149999,49999,150000,1,10,175,80,93.5,162.0,100.0,98.0,203.0,3.0,1.0